html, body {
  height: 100%;
}

body {
  background: linear-gradient(#990000, white) no-repeat;
  margin: 0;
}

input {
  background: #ffccff;
  border-radius: 5px;
}

.radial {
  background: radial-gradient(#ffccff, transparent);
  color: #000000;
}

.title {
  font-size: large;
}

.subtitle {
  font-style: italic;
}

.clickable {
  cursor: pointer;
}

.pinnable:hover {
  font-weight: bold;
}

ul, ol {
  padding-left: 1.2em;
}

ul {
  list-style: circle;
}

/******** LOGO ********/

@font-face {
  font-family: Yesteryear;
  src: url(yesteryear.ttf)
}

.logo {
  font-family: Yesteryear, Times New Roman, serif;
  font-size: 300%;
  position: fixed;
  overflow: hidden;
  z-index: 43;
}

#logo-left {
  right: 74.5%;
  color: #000000;
}

#logo-right {
  left: 25.5%;
  color: #ffccff;
}

#logo-left-text {
  position: relative;
  left: 15px;
}


#logo-right-text {
  position: relative;
  left: -15px;
}

/******** DIALOG BOX ********/

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(255, 204, 255, 0.5);
  position: fixed;
  z-index: 44;
  display: table;
}

.dialog-wrapper {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.dialog {
  display: inline-block;
  padding: 20px 30px 20px 30px;
  background: radial-gradient(#ffccff, #990000);
  border: 5px outset #660000;
  border-radius: 10px 10px 10px 10px;
}

.dialog-prompt {
  margin-bottom: 10px;
  display: block;
}

.dialog-yes {
  margin-right: 20px;
}

/******** RECIPE RIBBON ********/

#recipe-ribbon {
  margin-left: 1%;
  width: 49%;
  float: left;
}

.recipe-ribbon-part {
  width: 50%;
  position: relative;
  padding-top: 55px;
  padding-bottom: 55px;
  overflow: hidden;
}

#recipe-ribbon-left {
  border-radius: 0 0 55px 55px;
  text-align: right;
  float: left;
}

#recipe-ribbon-right {
  text-align: left;
  color: #ffccff;
}

.recipe-part {
  position: relative;
  z-index: 42;
  padding-left: 10px;
  padding-right: 10px;
  white-space: nowrap;
}

.recipe-name {
  text-decoration: none;
  color: inherit;
  border-radius: 10px 0 0 10px;
}

.recipe-profile {
  border-radius: 0 10px 10px 0;
  background: #990000;
  visibility: hidden;
}

/******** RECIPE FULL ********/

#recipe-full {
  margin-left: 50%;
  width: 49%;
  height: 80%;
  background: rgba(255, 182, 255, 0.4);
  position: fixed;
  top: 55px;
  border-radius: 55px;
  padding-bottom: 55px;
  overflow-x: hidden;
}

#recipe-full-title {
  text-align: center;
  font-weight: bold;
  white-space: nowrap;
}

.recipe-full-profile {
  width: 32%;
  display: inline-block;
  margin-right: 1%;
  vertical-align: top;
}

#recipe-prep {
  margin-left: 1%;
}

.recipe-detail-part {
  margin-right: 1%;
  float: left;
}

#recipe-ingredients {
  margin-left: 1%;
  width: 32%;
}

#recipe-instructions {
  width: 65%;
}

/******** RECIPE EDIT MODE ********/

#recipe-editmode-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 42;
}

.recipe-editmode {
  float: right;
}

#recipe-edittoggle {
  margin-right: 1%;
  padding: 10px;
  border-radius: 0 0 10px 10px;
}

.recipe-editsub {
  padding: 5px;
  border-radius: 0 0 5px 5px;
}

#recipe-editnotice {
  font-weight: bold;
}

/******** BYLINE ********/

#byline {
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: small;
  color: #660000;
  margin-right: 1%;
}